:root {
  /* colors (DARK) */
  --color-text: #fff;
  --color-bg: #171717;
  --color-gray-bg: #292929;
  --color-gray-hover: #515151;
  --color-gray-border: #4e4e4e;
  --color-green-bg: #24602e;
  --color-green-hover: #238632;
  --color-green-border: #0a6708;
  --color-green-tint: #1d2b1c;
  --color-red-bg: #532a2a;
  --color-red-hover: #792020;

  /* common */
  --padding-lg: 2rem;
  --padding-md: 1.5rem;
  --padding-sm: 1rem;
  --border-radius-lg: 0.5rem;
  --border-radius-sm: 0.24rem;

  /* element sizes */
  --height-button: 2.5rem;
  --height-subtask: 4rem;
  --width-project: 800px;
  --width-start: 13rem;
  --size-circle-button: 4rem;

  /* font */
  --font-size-base: 16px;
  --font-size-strong: 1.3rem;
  --letter-spacing: 2px;
}

* {
  /* reset */
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* Font */
  color: var(--color-text);
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  letter-spacing: var(--letter-spacing);
}

body {
  background: var(--color-bg);
  font-size: var(--font-size-base);
}

/* ------------------------- UTILS -------------------------------- */
.hidden {
  display: none !important;
}

/* ------------------------- INPUT -------------------------------- */
input {
  padding: var(--padding-sm);
  border: 1px solid var(--color-gray-border);
  min-width: 50px;
  background: transparent;
}

/* ------------------------- BUTTON -------------------------------- */
.button {
  background: var(--color-gray-bg);
  border: 1px solid var(--color-gray-border);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height-button);
  padding-left: var(--padding-md);
  padding-right: var(--padding-md);
}

.button:hover {
  background: var(--color-gray-hover);
}

.button-circle {
  width: var(--size-circle-button);
  height: var(--size-circle-button);
  align-self: center;
  border-radius: 50%;
  font-size: var(--font-size-strong);
}

.button-red {
  background: var(--color-red-bg);
  border: none;
}

.button-red:hover {
  background: var(--color-red-hover);
}

.button-green {
  background: var(--color-green-bg);
  border: none;
}

.button-green:hover {
  background: var(--color-green-hover);
}

/* ------------------------- TEXT -------------------------------- */
.strong {
  font-size: var(--font-size-strong);
  font-weight: bold;
}

/* ------------------------- PROJECT -------------------------------- */
.project {
  padding: var(--padding-lg);
  gap: var(--padding-md);
  max-width: var(--width-project);
  margin: auto;
}

.project-top-row,
.project-subtask-column,
.project-bottom-row {
  gap: var(--padding-sm);
}

/* ------------------------- SUBTASK -------------------------------- */
.subtask {
  height: var(--height-subtask);
  align-items: center;
  border: 2px solid var(--color-gray-border);
  border-radius: var(--border-radius-lg);
  padding-left: var(--padding-sm);
  padding-right: var(--padding-sm);
  gap: var(--padding-sm);
}

.subtask-green {
  background: var(--color-green-tint);
  border: 2px solid var(--color-green-border);
}

.subtask-green .button-red {
  border: 2px solid white;
  border-radius: var(--border-radius-lg);
}

/* ------------------------- START -------------------------------- */
.start {
  width: var(--width-start);
  margin: auto;
  margin-top: 3rem;
  gap: var(--padding-lg);
}
